*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~

/.vagrant/
/.kitchen/
/.kitchen.local.yml

/cookbooks/
/vendor/cookbooks/

/bin/*
/.bundle/*

/.rake_test_cache

.chef/*.pem
.chef/encrypted_data_bag_secret

/data_bags/secrets/*.json

*.lock.json